{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "src/models/(.*)$",
    "src/api/(.*)$",
    "src/services/(.*)$",
    "src/guards/(.*)$",
    "src/decarators/(.*)$",
    "src/middlewares/(.*)$",
    "src/(.*)$",
    "^[./dto/(.*)$]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
